Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.la
*.swp
*.tar.gz
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/bin/pialign
src/include/pialign/config.h.in
src/test/test-pialign
src/test/test-trie
Makefile.pre
Misc/
Modules/
build/
libpython3.3m.a
pybuilddir.txt
pyconfig.h
python
src/include/pialign/stamp-h1

